.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 900;
  min-width: var(--clr-card-w);
  width: fit-content;
  aspect-ratio: 1/1;
  padding: var(--md-pad);
  border-radius: var(--md-rad);
  box-shadow: var(--standard-shadow);
}
