.defaultInput {
  --input-height: 3rem;
  height: var(--input-height, 2rem);
  width: var(--input-width, 100%);
  padding: var(--md-pad);
  background: inherit;
  border-radius: var(--sm-rad);
  border: 1px solid var(--border-color);
  width: 100%;
  font-size: 1.35rem;
}

.errorInput {
  border: 1 px solid red;
}
