/* Consider to apply normalize file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

input,
button,
label {
  cursor: pointer;
}

label {
  font-size: var(--font-md);
}

input[type="checkbox"],
input[type="radio"] {
  margin-inline-end: var(--sm-mar);
}

body {
  font-family: "Comfortaa", "Segoe UI", sans-serif, system-ui;
  color: var(--txt-main-color);
  /* responsive font-size */
  --font-size-min: 18;
  --font-size-max: 26;
  --font-view-min: 576;
  --font-view-max: 1280;

  font-size: clamp(
    calc(var(--font-size-min) * 1px),
    calc(
      (var(--font-size-min) * 1px) +
        (var(--font-size-max) - var(--font-size-min)) *
        ((100vw - (var(--font-view-min) * 1px)) / var(--font-view-max))
    ),
    calc(var(--font-size-max) * 1px)
  );
}

h1 {
  margin-block: 0.75rem;
  color: var(--txt-main-color);
  text-align: center;
  background-clip: text;
}

.container {
  min-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-clr);
  padding-inline: 1rem;
}

.content-wrapper {
  padding-block: var(--md-pad);
  display: flex;
  width: 100%;
  min-height: 100%;
}

.menu-wrapper {
  max-width: 20%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--lg-gap);
  margin-right: var(--lg-mar);
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-button {
  position: relative;
  padding-block: var(--btn-y-pad, 0.5rem);
  padding-inline: var(--btn-y-pad, 0.75rem);
  font-size: var(--font-lg);
  border-radius: var(--sm-rad);
  background-color: var(--btn-bg-clr);
  color: var(--txt-alt-clr);
  cursor: pointer;
  font-weight: 500;
  transition: transform 120ms ease-out;
}

.default-button:hover {
  transform: scale(1.05);
}

.default-button:focus {
  outline: 2px solid gainsboro;
}

.default-button:active {
  transform: scale(1);
}
