/* Consider to apply normalize file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: "Comfortaa", "Segoe UI", sans-serif, system-ui;
  color: var(--txt-main-color);
  /* responsive font-size */
  --font-size-min: 18;
  --font-size-max: 26;
  --font-view-min: 576;
  --font-view-max: 1280;

  font-size: clamp(
    calc(var(--font-size-min) * 1px),
    calc(
      (var(--font-size-min) * 1px) +
        (var(--font-size-max) - var(--font-size-min)) *
        ((100vw - (var(--font-view-min) * 1px)) / var(--font-view-max))
    ),
    calc(var(--font-size-max) * 1px)
  );
}

h1 {
  margin-block: 0.75rem;
  color: var(--txt-main-color);
  text-align: center;
  background-clip: text;
}
.w-full {
  width: 100%;
}

.container {
  min-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-clr);
  padding-inline: 1rem;
}

.content-wrapper {
  padding-block: var(--md-pad);
  display: flex;
  width: 100%;
  min-height: 100%;
}

.color-list-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--lg-gap);
  align-items: center;
}

.menu-wrapper {
  max-width: 20%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--lg-gap);
  margin-right: var(--lg-mar);
}

.search-wrapper,
.filters-wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--md-pad);
  gap: var(--lg-gap);
  border: 1px solid var(--border-color);
  border-radius: var(--md-rad);
  box-shadow: var(--standard-shadow);
}

.luminosity-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--sm-gap);
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-input {
  height: var(--input-height, 2rem);
  width: var(--input-width, 100%);
  padding: var(--md-pad);
  background: inherit;
  border-radius: var(--sm-rad);
  border: 1px solid var(--border-color);
}

.color-input {
  /* add media for mobile input width */
  --input-height: 3rem;
  width: 100%;
  font-size: 1.35rem;
}

.default-button {
  position: relative;
  padding-block: var(--btn-y-pad, 0.5rem);
  padding-inline: var(--btn-y-pad, 0.75rem);
  font-size: var(--font-lg);
  border-radius: var(--sm-rad);
  background-color: var(--btn-bg-clr);
  color: var(--txt-alt-clr);
  cursor: pointer;
  font-weight: 500;
  transition: transform 120ms ease-out;
}

.default-button:hover {
  transform: scale(1.05);
}

.default-button:focus {
  outline: 2px solid gainsboro;
}

.default-button:active {
  transform: scale(1);
}

.filters-group-outer {
  display: flex;
  flex-direction: column;
  margin-block: var(--md-mar);
}

.filters-group-inner {
  display: flex;
  flex-direction: column;
  gap: var(--md-gap);
}

.color-card {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: var(--lg-gap);
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 900;
  width: var(--clr-card-w);
  /* max-width: fit-content; */
  min-height: var(--clr-card-h);
  padding: var(--lg-pad);
  border-radius: var(--md-rad);
  box-shadow: var(--standard-shadow);
}

.close-btn {
  min-width: 1rem;
  background: transparent;
  padding-inline: 0;
  padding-block: 0;
}

.close-btn:hover {
  transform: none;
}
