/* Consider to apply normalize file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

button,
label {
  cursor: pointer;
}

label {
  width: fit-content;
  font-size: var(--font-md);
  font-weight: 500;
  letter-spacing: 1.05px;
  cursor: pointer;
}

label > input[type="checkbox"],
label > input[type="radio"],
label > input[type="range"] {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  margin-inline-end: var(--sm-mar);
}

body {
  font-family: "Comfortaa", "Segoe UI", sans-serif, system-ui;
  color: var(--txt-main-color);
  /* responsive font-size */
  --font-size-min: 18;
  --font-size-max: 26;
  --font-view-min: 576;
  --font-view-max: 1280;

  font-size: clamp(
    calc(var(--font-size-min) * 1px),
    calc(
      (var(--font-size-min) * 1px) +
        (var(--font-size-max) - var(--font-size-min)) *
        ((100vw - (var(--font-view-min) * 1px)) / var(--font-view-max))
    ),
    calc(var(--font-size-max) * 1px)
  );
}

h1 {
  margin-block: 0.75rem;
  color: var(--txt-main-color);
  text-align: center;
  background-clip: text;
}

.content-wrapper {
  padding-block: var(--md-pad);
  display: flex;
  width: 100%;
  min-height: 100%;
}

.menu-wrapper {
  max-width: 20%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--lg-gap);
  margin-right: var(--lg-mar);
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 584px) {
  .content-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--xl-mar);
  }
  .menu-wrapper {
    margin-right: 0;
  }
}
