.success {
  color: var(--clr-success);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.widthFull {
  width: 100%;
}

.small-text {
  font-size: var(--font-sm);
}

.marginBlock {
  margin-block: 0.75rem;
}

.marginBottom {
  margin-bottom: 0.45rem;
}

.underline {
  text-underline-offset: 8px;
  text-decoration: underline;
}

.close-btn {
  min-width: 1rem;
  background: transparent;
  padding-inline: 0;
  padding-block: 0;
}

.close-btn:hover {
  transform: none;
}
