/* Consider to apply normalize file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: 'Comfortaa', 'Segoe UI', sans-serif, system-ui;
  color: var(--txt-main-color);
  /* responsive font-size */
  --font-size-min: 18;
  --font-size-max: 26;
  --font-view-min: 576;
  --font-view-max: 1280;

  font-size: clamp(
    calc(var(--font-size-min) * 1px),
    calc(
      (var(--font-size-min) * 1px) +
        (var(--font-size-max) - var(--font-size-min)) *
        ((100vw - (var(--font-view-min) * 1px)) / var(--font-view-max))
    ),
    calc(var(--font-size-max) * 1px)
  );
}

h1 {
  margin-block: 0.75rem;
  color: var(--txt-main-color);
  text-align: center;
  background-clip: text;
}

.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-clr);
  padding-inline: 1rem;
}

.text-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--md-pad);
  gap: var(--gap-lg);
  border: 1px solid var(--border-color);
  border-radius: var(--md-rad);
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-input {
  height: var(--input-height, 2rem);
  width: var(--input-width, 100%);
  padding: var(--md-pad);
  background: inherit;
  border-radius: var(--sm-rad);
  border: 1px solid var(--border-color);
}

.default-button {
  padding-block: var(--btn-y-pad, 0.5rem);
  padding-inline: var(--btn-y-pad, 0.75rem);
  font-size: var(--font-lg);
  border-radius: var(--sm-rad);
  background-color: var(--btn-bg-clr);
  color: var(--txt-alt-clr);
  cursor: pointer;
  font-weight: 500;
  transition: transform 100ms ease-in-out;
}

.default-button:hover {
  transform: scale(1.1);
}

.default-button:active {
  transform: scale(1.05);
}
